extends layout

block content
	//navbar
	.w3-top
		.w3-bar.w3-theme-d2.w3-left-align.w3-large#navBar.w3-black
			a.w3-bar-item.w3-button.w3-hover-black.w3-hide-medium.w3-hide-large.w3-right(href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu")
				i.fa.fa-bars
			a(href="/home").w3-bar-item.w3-theme-d4.w3-button.w3-padding-large.w3-hover-white
				i.fa.fa-home.w3-margin-right
				i Schmocial
			a(href="#" title="News").w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-white
				i.fa.fa-globe
			a(href="/profile/"+username_id+":"+username_name title="Profile").w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-white
				i.fa.fa-user
			a(href="#" title="Messages").w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-white
				i.fa.fa-envelope
			a.w3-bar-item.w3-button.w3-hide-small.w3-right.w3-padding-large.w3-hover-white(href="/users/logout" title="My Account")
				img.w3-circle(src="/w3images/avatar2.png" style="height:23px;width:23px" alt="Avatar")
	//Grid
	//Grid
	.w3-container.w3-content(style="max-width:1400px;margin-top:80px")
		.w3-row  
			//Middle Column
			.w3-col.m12
				.w3-row-padding
					.w3-col.m12
						.w3-card.w3-round.w3-black
							.w3-container.w3-padding
								.w3-container.w3-border.w3-padding
									input.w3-animate-input(type='text' id="search" required style="width:70%" name=username_id+":"+username_name placeholder="Status: Feeling Blue") 
									button.w3-button.w3-margin-bottom(type="button" name="stand-by" id="friends") Friends 
									button.w3-button.w3-margin-bottom(type="button" id="strangers") Strangers 
						.w3-container.w3-card.w3-white.w3-round.w3-margin(id="listConnections") 
							h2 User List