extends layout

block content
	//navbar
	.w3-top
		.w3-bar.w3-left-align.w3-large#navBar.w3-black
			a.w3-bar-item.w3-button.w3-hover-black.w3-hide-medium.w3-hide-large.w3-right(href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu")
				i.fa.fa-bars
			a(href="/home").w3-bar-item.w3-button.w3-padding-large.w3-hover-white
				i.fa.fa-home.w3-margin-right
				i Schmocial
			a(href="#" title="News").w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-white
				i.fa.fa-globe
			a(href="#" title="Account Settings").w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-white
				i.fa.fa-user
			a(href="#" title="Messages").w3-bar-item.w3-button.w3-hide-small.w3-padding-large.w3-hover-white
				i.fa.fa-envelope
			a.w3-bar-item.w3-button.w3-hide-small.w3-right.w3-padding-large.w3-hover-white(title="My Account")
				img.w3-circle(src="/w3images/avatar2.png" style="height:23px;width:23px" alt="Avatar")
			.w3-dropdown-hover-w3-hide-small
				button.w3-button.w3-padding-large.w3-hover-white(title="Notifications")
					i.fa.fa-bell
					span.w3-badge.w3-right.w3-small.w3-white 3
				.w3-dropdown-content.w3-card-4.w3-bar-block(style="width:300px")
					a.w3-bar-item.w3-button(href="#") One new friend request
					a.w3-bar-item.w3-button(href="#") John Doe posted on your wall
					a.w3-bar-item.w3-button(href="#") Jane upvoted your post
	//Grid
	//Grid
	.w3-container.w3-content(style="max-width:1400px;margin-top:80px")
		.w3-row  
			//Middle Column
			.w3-col.m12
				.w3-row-padding
					.w3-col.m12
						.w3-card.w3-round.w3-black
							.w3-container.w3-padding
								.w3-container.w3-border.w3-padding
									input.w3-animate-input(type='text' id="search" required style="width:100%" name=username_id+":"+username_name placeholder="Status: Feeling Blue")  
	.w3-container.w3-content(style="max-width:1400px;margin-top:80px")
		.w3-row  
			//Middle Column
			.w3-col.m12
				.w3-row-padding
					.w3-col.m12
						h1.w3 Upcoming Events
						.w3-card.w3-round.w3-white
							.w3-container.w3-padding
								.w3-container.w3-border.w3-padding
									.w3-col.m2
										.w3-card.w3-round.w3-black.w3-center
											.w3-container
												p Add new Event
												img(src="/w3images/forest.jpg" alt="Forest" style="width:100%;")
												p
													strong Holiday
												p Friday 15:00
												p
													button.w3-button.w3-block.w3-white(onclick="document.getElementById('ticketModal').style.display='block'") Add
										br
									each u in events
										.w3-col.m2(style="margin-left:2%")
											.w3-card.w3-round.w3-black.w3-center
												.w3-container
													p= u.local
													if u.picture
														img(src="images/eventos/"+u.picture alt="Forest" style="width:100%;")
													p
														strong= u.description
													p= u.date
													p
														button.w3-button.w3-block.w3-white(onclick="showEventInfo('"+u._id+"','"+u.date+"','"+u.local+"','"+u.title+"','"+u.description+"','"+utilizador._id+"')") Info
											br
	.w3#ticketModal.w3-modal
		.w3-modal-content.w3-animate-top.w3-card-4
			header.w3-container.w3-black.w3-center.w3-padding-32
				span.w3-button.w3-black.w3-xlarge.w3-display-topright(onclick="document.getElementById('ticketModal').style.display='none'") &times;
				h2.w3-wide
					i.fa.fa-suitcase.w3-margin-right
					| Add new Event
			.w3-container
				form.w3-container(action="/events" method="POST" enctype="multipart/form-data")
					p
						label
						i.fa.fa-shopping-cart
						|  Data
					input.w3-input.w3-border(type='date' id="inputDate" required name="inputDate" placeholder='How many?')
					p
						label
						i.fa.fa-shopping-cart
						|  Local
					input.w3-input.w3-border(type='text' id="inputLocation" required name="inputLocation" placeholder='How many?')
					p
						label
						i.fa.fa-user
						|  Titulo
					input.w3-input.w3-border(type='text' id="inputTitle" required name="inputTitle" placeholder='Enter email')
					p
						label
						i.fa.fa-user
						|  Descrição
					input.w3-input.w3-border(type='text' id="inputDescription" required name="inputDescription" placeholder='Enter email')
					p
						label
						i.fa.fa-shopping-cart
						|  Image
					input.w3-input.w3-border(type='file' id="inputImage" name="inputImage" placeholder='How many?')
					input.w3-button.w3-block.w3-teal.w3-padding-16.w3-section.w3-right(type="Submit") 
				button.w3-button.w3-red.w3-section(onclick="document.getElementById('ticketModal').style.display='none'")
					| Close 
					i.fa.fa-remove
				p.w3-right
					| Need 
					a.w3-text-blue(href='#') help?
	.w3#eventInfo.w3-modal
		.w3-modal-content.w3-animate-top.w3-card-4
			header.w3-container.w3-black.w3-center.w3-padding-32
				span.w3-button.w3-black.w3-xlarge.w3-display-topright(onclick="document.getElementById('eventInfo').style.display='none'") &times;
				h2.w3-wide
					i.fa.fa-suitcase.w3-margin-right
					| Event Info
			.w3-container
				p(hidden id="idDoEvento")
				p
					label
					i.fa.fa-shopping-cart
					|  Data
				p(id="eventoData")
				p
					label
					i.fa.fa-shopping-cart
					|  Local
				p(id="eventoLocal")
				p
					label
					i.fa.fa-user
					|  Titulo
				p(id="eventoTitle")
				p
					label
					i.fa.fa-user
					|  Descrição
				p(id="eventoDescription")
				p
					label
					i.fa.fa-user
					|  Participantes
				p(id="eventoParticipants") 
				button.w3-button.w3-block.w3-green.w3-section(id="acceptEvent" name='yes' title='Accept' onclick="submeteParticipacao('"+utilizador._id+"','"+utilizador.name+"');")
					| Accept 
					i.fa.fa-check
				button.w3-button.w3-block.w3-red.w3-section(id="cancelEvent" name='no' title='Decline' onclick="cancelParticipacao('"+utilizador._id+"');")
					| Cancel 
					i.fa.fa-check
				button.w3-button.w3-black.w3-section(onclick="document.getElementById('eventInfo').style.display='none'")
					| Close 
					i.fa.fa-remove
				p.w3-right
					| Need 
					a.w3-text-blue(href='#') help?