extends layout

block content
	.w3-top
		.w3-bar#navBar.w3-black
			header.w3-container.w3-text-White.w3
				h3= title
			a.w3-bar-item.w3-button.w3-hover-black.w3-hide-medium.w3-hide-large.w3-right(href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu")
				i.fa.fa-bars
			a(href="#home").w3-bar-item.w3-button HOME
			a(href="#about").w3-bar-item.w3-button.w3-hide-small ABOUT
			a(href="#portfolio").w3-bar-item.w3-button.w3-hide-small PORTFOLIO
			a(href="#contact").w3-bar-item.w3-button.w3-hide-small CONTACT
			
			//a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red">
			//	<i class="fa fa-search"></i>
			//</a>
	.w3-container
		.w3-card-4.w3-black
			header.w3-container.w3-text-White
			h3= title
		.w3-container.w3-light-grey


			p Welcome to Schmocial
			p the next big thing
			
		footer.w3-container.w3-black
			address Copyright@Schmocial 2018
