doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-social.css')
    link(rel='stylesheet' href='https://www.w3schools.com/lib/w3-theme-blue-grey.css') 
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous")
    link(href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet') 
    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src="/socket.io/socket.io.js")
    script(src='/javascripts/posts.js')
    script(src='/javascripts/connections.js')
    script(src='/javascripts/events.js')
    style.
            .mySlides
            {
                display:block;
            }
  body.w3-light-grey
    script(src="/javascripts/chat.js")
    block content
